<nav class="navbar navbar-dark bg-inverse">
  <%= link_to "eduID Profile", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% else %>
          <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
      <% end %>
        </li>

  </ul>
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>
</nav>